<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="ISO-8859-1">
    <title>Bulls and Cows</title>
    <link rel="stylesheet" href="/style.css" type="text/css"/>
</head>

<body>
	<a class="buttonNum" style="position: absolute; top: 20px; left: 20px;
								font-size: 20px; font-weight: 2300;" 
								href="/Log-out">Log out</a>
	
	<table align="center">
		 <tr>
		 	<td colspan="3"><p class="textEntered" th:text="${input}"/></td>
		 </tr>
		 <tr>
			<td><a class="buttonNum" href="/?butt=7">7</a></td>
			<td><a class="buttonNum" href="/?butt=8">8</a></td>
			<td><a class="buttonNum" href="/?butt=9">9</a></td>
		 </tr>
		 <tr>
			<td><a class="buttonNum" href="/?butt=4">4</a></td>
			<td><a class="buttonNum" href="/?butt=5">5</a></td>
			<td><a class="buttonNum" href="/?butt=6">6</a></td>
		 </tr>
		 <tr>
			<td><a class="buttonNum" href="/?butt=1">1</a></td>
			<td><a class="buttonNum" href="/?butt=2">2</a></td>
			<td><a class="buttonNum" href="/?butt=3">3</a></td>
		 </tr>
		 <tr>
		 	<td></td>
			<td><a class="buttonNum" href="/?butt=0">0</a></td>
			<td></td>
		 </tr>
	</table>

	<div class="div1" align="right">
		<p>Your attempts:</p>
		<div class="div3">
			<div th:each="attempt : ${attempts}">
				<p th:text="${attempt}">attempt</p>
			</div>
		</div>
	</div>
	<div class="div4" align="right">
		<p>Top Players:</p>
		<div class="div5">
			<div th:each="player : ${topPlayers}">
				<p th:text="${player}">player</p>
			</div>
		</div>
	</div>

</body>

</html>