<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="ISO-8859-1">
    <title>Bulls and Cows</title>
    <link rel="stylesheet" href="/style.css" type="text/css"/>
</head>

<body>
	<div class="center">
	  <h1>Login to<br>Bulls and Cows<br>account</h1>
	  <p class="textEntered" th:text="${output}"/>
	  <br>
	  <form th:method="POST" th:action="@{/Logging-into-account}">
	    <div class="inputbox">
	      <input type="text" required="required" id="nickname" name="nickname" th:value="${nickname}">
	      <span>Nickname</span>
	    </div>
	    <div class="inputbox">
	      <input type="password" required="required" id="password" name="password">
	      <span>Password</span>
	    </div>
	    <div class="inputbox">
	      <input class="button" type="submit" value="Login">
	    </div>
	    <div class="inputbox">
	      <a href="/Registration"><b>Registration</b></a>
	    </div>
	  </form>
	</div>

</body>

</html>