<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="ISO-8859-1">
    <title>Registration</title>
    <link rel="stylesheet" href="/style.css" type="text/css"/>
</head>

<body>
	<div class="center">
	  <h1>Registration of<br>Bulls and Cows<br>account</h1>
	  <p class="textEntered" th:text="${output}"/>
	  <form th:method="POST" th:action="@{/Registration}">
	    <div class="inputbox">
	      <input type="text" required="required" id="nickname" name="nickname">
	      <span>Nickname</span>
	    </div>
	    <div class="inputbox">
	      <input type="password" required="required" id="password" name="password">
	      <span>Password</span>
	    </div>
	    <div class="inputbox">
	      <input class="button" type="submit" value="Register">
	    </div>
	     <div class="inputbox">
	      <a href="/Logging-into-account"><b>Login</b></a>
	    </div>
	  </form>
	</div>
		
</body>

</html>