<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="ISO-8859-1">
    <title>Victory</title>
    <link rel="stylesheet" href="/style.css" type="text/css"/>
</head>

<body>
	<div class="div2" align="center">
		<p>You've won!</p>
		<p align="center" th:text="in+${amountAttempts}+attempts">amount attempts</p>
		<a align="center" class="button" href="/">HOORAY!!!</a>
	</div>
		
	<div class="div1" align="right">
		<p>Your attempts:</p>
		<div class="div3">
			<div th:each="attempt : ${attempts}">
				<p th:text="${attempt}">attempt</p>
			</div>
		</div>
	</div>

	<div class="div4" align="right">
		<p>Top Players:</p>
		<div class="div5">
			<div th:each="player : ${topPlayers}">
				<p th:text="${player}">player</p>
			</div>
		</div>
	</div>

</body>

</html>